@font-face {
	font-family: "BasierSquareMono";
	src: url(../static/fonts/basiersquaremono-regular-webfont.woff),
		url(../static/fonts/basiersquaremono-regular-webfont.ttf),
		url(../static/fonts/basiersquaremono-regular-webfont.eot),
		url(../static/fonts/basiersquaremono-regular-webfont.woff2);
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "BasierSquareMono", sans-serif;
}
body {
	background-color: #0e141b;
}
a {
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
