.mainContainer {
	background-color: #0e141b;
	min-height: 100vh;
	background: url(../static/Mint-Page-Bg.png);
	background-position: left top;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* HEADER SECTION */

.header {
	color: #fbedd6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem 12px 4rem 12px;
	h3 {
		font-size: 24px;
	}
}

.gethelpWrap {
	display: flex;
	align-items: center;
	cursor: pointer;
	h3 {
		line-height: 1;
		margin-left: 8px;
	}
}

.connectWalletWrap {
	display: flex;
	align-items: center;
	.connectBtnWrap {
		margin-left: 12px;
		border-radius: 8px;
		border: 1px solid #fbedd6;
		button {
			outline: none;
			border: none;
			font-size: 20px;
			font-family: "BasierSquareMono", sans-serif;
			background-color: transparent;
			color: #fbedd6;
			border: 1px solid #fbedd6;
			padding: 10px 16px;
			border-radius: 8px;
			cursor: pointer;
			margin-bottom: 10px;
			transition: all 0.4s ease-in-out;
			&:hover {
				background-color: #fbedd6;
				color: #272727;
				transition: all 0.4s ease-in-out;
			}
		}
		&:hover {
			border: 1px solid transparent;
		}
	}
	.helpMobIcon {
		display: none;
	}
}

// Main Mint Container

.mintContainer {
	color: #fbedd6;
	background-color: #0e141b;
	max-width: 680px;
	margin: 0 auto;
	border: 1px solid #fbedd6;
	border-radius: 8px;
}
.amountpriceWrap {
	display: flex;
	padding: 2rem 1rem;
	max-width: 620px;
	margin: 0 auto;
	justify-content: space-between;
	.amount {
		flex-basis: 40%;
	}
	.counterWrap {
		border: 1px solid #fbedd6;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px;
		border-radius: 6px;
		margin-top: 1.5rem;
		.Btnfield {
			button {
				outline: none;
				border: none;
				width: 30px;
				font-family: "BasierSquareMono", sans-serif;
				line-height: 1.5;
				cursor: pointer;
				font-size: 20px;
				background: #fbedd6;
				border-radius: 4px;
				&:first-child {
					margin-right: 8px;
				}
			}
		}
	}
	.price {
		flex-basis: 48%;
		span {
			margin-top: 40px;
			display: block;
		}
	}
}

.mintProgress {
	max-width: 590px;
	margin: 0.5rem auto 0 auto;
	.progressWrap {
		border: 1px solid #fbedd6;
		border-radius: 8px;
		min-height: 55px;
		position: relative;
		margin-top: 16px;
		.progressBar {
			background: #93d3ff;
			border-radius: 8px 0px 0px 8px;
			height: 55px;
		}
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.mintBtn {
	max-width: 280px;
	margin: 2.5rem auto 2.5rem auto;
	button {
		outline: 0;
		border: none;
		background-color: #fbedd6;
		color: #272727;
		width: 100%;
		padding: 14px;
		border-radius: 8px;
		font-size: 20px;
		border: 1px solid #fbedd6;
		font-family: "BasierSquareMono", sans-serif;
		transition: all 0.4s ease-in-out;
		&:hover {
			background-color: transparent;
			color: #fbedd6;
			cursor: pointer;
			transition: all 0.4s ease-in-out;
		}
	}
}

.footerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0px;
	.socialLinks {
		list-style: none;
		display: flex;
		align-items: center;
		li {
			margin: 0px 1.5rem;
			cursor: pointer;
		}
	}
}

// GET HELP PAGE
.getHelpContainer {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 100%;
	z-index: 100;
	background-color: #0000009d;
	display: flex;
	align-items: center;
	justify-content: center;
	.getHelpWrap {
		background: #0e141b;
		border: 1px solid #fbedd6;
		border-radius: 8px;
		width: 100%;
		max-width: 580px;
		padding: 2rem 1.5rem;
		.helpwrapHead {
			color: #fbedd6;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	.closeIcon {
		width: 35px;
		cursor: pointer;
	}
}
.accordionContainer {
	margin-top: 4rem;
}
// MEDIA QUERIES

@media (max-width: 780px) {
	.mintProgress {
		padding: 0px 1rem;
	}
	.helpWrap {
		display: none;
	}
	.connectWalletWrap {
		.helpMobIcon {
			display: block;
		}
	}
}
@media (max-width: 580px) {
	.mainContainer {
		padding: 12px;
	}
	.header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.connectWalletWrap {
		margin-top: 2rem;
	}
	.imgSlide {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.amountpriceWrap {
		flex-direction: column;
		.amount {
			margin-bottom: 1rem;
		}
		.price {
			span {
				margin-top: 1rem;
			}
		}
	}
	.getHelpContainer {
		padding: 0px 12px;
	}
}
@media (max-width: 480px) {
	.mainContainer {
		background-color: #0e141b;
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.header {
		padding: 2rem 0px 4rem 0px;
		h3 {
			font-size: 16px;
		}
	}
	.connectBtnWrap {
		margin-left: 8px;
		button {
			font-size: 16px !important;
			padding: 10px !important;
		}
	}
	.mintBtn {
		padding: 0px 10px;
	}
}
